<div ng-controller="BrowseController">
	<ul class="breadcrumb">
		<li><a ui-sref="base.browse">Корень сайта</a></li>
		<li class="active">Статистика</li>
	</ul>

	<p class="controls">
		<button type="button" class="btn btn-default disabled"><span class="halflings halflings-triangle-top"></span> Наверх</button>
		<button type="button" class="btn btn-default"><span class="halflings halflings-pencil"></span> Редактировать</button>
		<button type="button" class="btn btn-default"><span class="halflings halflings-floppy-disk"></span> Сохранить</button>
		<button type="button" class="btn btn-default"><span class="halflings halflings-duplicate"></span> Копировать</button>
		<button type="button" class="btn btn-default"><span class="halflings halflings-arrow-right"></span> Переместить</button>
		<button type="button" class="btn btn-warning"><span class="halflings halflings-trash"></span> Удалить</button>
	</p>

	<p>Добавить: <a href>Категория товаров</a>, <a href>Раздел сайта</a>, <a href>Служебный раздел</a></p>

	<table class="table-striped table-hover element-list" ng-show="categoryList.length">
		<thead>
			<th class="first">ID</th>
			<th>Название</th>
			<th>Создан</th>
			<th>Изменен</th>
			<th class="last"><input type="checkbox"></th>
		</thead>
		<tbody>
			<tr ng-repeat="category in categoryList">
				<td class="first"><a ui-sref="base.browse({id: category.id})"><span class="halflings halflings-menu-right"></span></a></td>
				<td><a ui-sref="base.browse({id: category.id})"><span class="halflings halflings-pencil"></span></a> <a ui-sref="base.browse({id: category.id})">{{category.name}}</a></td>
				<td>{{timestamp(category.created_at) | date: 'dd.MM.yyyy'}}<br /><small>{{timestamp(category.created_at) | date: 'HH:mm:ss'}}</small></td>
				<td>{{timestamp(category.updated_at) | date: 'dd.MM.yyyy'}}<br /><small>{{timestamp(category.updated_at) | date: 'HH:mm:ss'}}</small></td>
				<td class="last"><input type="checkbox"></td>
			</tr>
		</tbody>
	</table>
</div>