<div ng-controller="GroupController">
	<ul class="breadcrumb">
		<li><a ui-sref="base.users">Управление пользователями</a></li>
		<li class="active" ng-show="group">{{group.name}}</li>
	</ul>
	<div ng-show="group">
		<div class="well">
			<form role="form" ng-model="group" submit-on="CtrlS" ng-submit="submit()">
				<div class="form-group">
					<label for="name">Название</label>
					<input ng-model="group.name" type="text" id="name" class="form-control" placeholder="Введите название группы" data-toggle="popover">
				</div>
				<div class="form-group">
					<label data-toggle="popover">
						<input ng-model="group.admin" type="checkbox" value="1"> Управление пользователями
					</label>
				</div>
				<div class="form-group">
					<label id="default_permission" data-toggle="popover">Доступ к элементам по умолчанию:</label>
					<div class="radio">
						<label>
							<input ng-model="group.default_permission" type="radio" value="deny"> Доступ закрыт
						</label>
					</div>
					<div class="radio">
						<label>
							<input ng-model="group.default_permission" type="radio" value="view"> Просмотр
						</label>
					</div>
					<div class="radio">
						<label>
							<input ng-model="group.default_permission" type="radio" value="update"> Изменение
						</label>
					</div>
					<div class="radio">
						<label>
							<input ng-model="group.default_permission" type="radio" value="delete"> Удаление
						</label>
					</div>
				</div>
				<div class="form-group">
					<label>Дата создания:</label> {{group.created_at}}
				</div>
				<div class="form-group">
					<label>Последнее изменение:</label> {{group.updated_at}}
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary" type="submit">Сохранить</button>
				</div>
			</form>
		</div>
	</div>
</div>