<div ng-controller="UserController">
	<ul class="breadcrumb">
		<li><a ui-sref="base.users">Управление пользователями</a></li>
		<li class="active" ng-show="user">{{user.login}}</li>
	</ul>
	<div ng-show="user">
		<div class="well">
			<form role="form" ng-model="user" submit-on="CtrlS" ng-submit="submit()">
				<div class="form-group">
					<label for="login">Логин</label>
					<input ng-model="user.login" type="text" id="login" class="form-control" placeholder="Введите логин" data-toggle="popover">
				</div>
				<div class="form-group">
					<label for="password">Пароль</label>
					<input ng-model="user.password" type="password" id="password" class="form-control" placeholder="Введите новый пароль">
				</div>
				<div class="form-group">
					<label for="email">E-mail</label>
					<input ng-model="user.email" type="email" id="email" class="form-control" placeholder="Введите адрес электронной почты" data-toggle="popover">
				</div>
				<div class="form-group">
					<label for="first_name">Имя</label>
					<input ng-model="user.first_name" type="text" id="first_name" class="form-control" placeholder="Введите имя" data-toggle="popover">
				</div>
				<div class="form-group">
					<label for="last_name">Фамилия</label>
					<input ng-model="user.last_name" type="text" id="last_name" class="form-control" placeholder="Введите фамилию" data-toggle="popover">
				</div>
				<div class="form-group" ng-show="groupList.length">
					<label id="groups">Состоит в группах:</label>
					<div class="checkbox" ng-repeat="group in groupList">
						<label>
							<input ng-model="user.groups[group.id]" type="checkbox" id="group_{{group.id}}" data-toggle="popover"> {{group.name}}
						</label>
					</div>
				</div>
				<div class="form-group">
					<label>Дата регистрации:</label> {{user.created_at}}
				</div>
				<div class="form-group">
					<label>Последнее изменение:</label> {{user.updated_at}}
				</div>
				<div class="form-group">
					<label>Дата последнего входа:</label> {{user.last_login || 'Не определено'}}
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary" type="submit">Сохранить</button>
				</div>
			</form>
		</div>
	</div>
</div>